# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django files
staticfiles/
media/
db.sqlite3

# Node dependencies
node_modules/
npm-debug.log*

# Next.js build assets
.next/
out/

# OS files
Thumbs.db
db.db
.DS_Store

# Scratch folders
scratch/
